{% extends 'base.html' %}

{% block title %}
    <title>About Us - Taskmate</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <h1>{{ about_text }}</h1>
    </div>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/stickynotes.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" width="360" height="250">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/stickynotes-1.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" width="360" height="250">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/stickynotes-2.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" width="360" height="250">
          </div>
        </div>
      </div>
{% endblock content %}